.ql-toolbar {
  background-color: #323232;
  color: white;
  justify-content: space-between;
}

.ql-toolbar .ql-picker:hover,
.ql-toolbar .ql-picker.ql-expanded,
.ql-toolbar .ql-picker-label:hover,
.ql-toolbar .ql-picker-label.ql-active,
.ql-toolbar .ql-picker-item:hover,
.ql-toolbar .ql-picker-item.ql-selected {
  color: white !important; /* Change this color to your desired active color */
}

/* Editor background and text color */
.ql-container {
  background-color: #232323;
  color: white;
  border: 1px solid #181818;
  min-height: 200px;
}

/* Placeholder text color */
.ql-editor::before {
  color: white;
}

/* Selection background color */
.ql-editor ::selection {
  background-color: #181818;
}
