.custom-datepicker {
  outline: none;
  padding: 0.7rem;
  border-radius: 10px;
  background-color: #414141;
}

.datepicker {
  outline: none;
  background-color: transparent;
}

.signatureCanvas {
  border: 1px solid #55df01;
  background-color: transparent;
  width: 20rem;
  height: 10rem;
}

@media (max-width: 768px) {
  .signatureCanvas {
    width: 15rem;
    height: 10rem;
  }
}

.thin-lines-icon svg path {
  stroke-width: 10; /* Adjust the value to make the lines thinner */
}
