.custom-datepicker {
  outline: none;
  border: 1px solid #323232;
  padding: 0.7rem;
  border-radius: 5px;
  background-color: #3b3b3b;
}

.datepicker {
  outline: none;
  background-color: transparent;
}

.signatureCanvas {
  border: 1px solid #55df01;
  background-color: transparent;
  width: 20rem;
  height: 10rem;
}

@media (max-width: 768px) {
  .signatureCanvas {
    width: 15rem;
    height: 10rem;
  }
}
