/* .custom-select-option {
  background-color: rgba(255, 255, 255, 0.48);
}

.custom-select-option:hover {
  background-color: blue.200;
} */

/* .custom-select-option:selected {
    background: blue.400; 
  }  */
.custom-datepicker {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.562);
  padding: 0.7rem;
  border-radius: 5px;
  background-color: transparent;
}

.datepicker {
  outline: none;
  background-color: transparent;
}
